:root {
            --rosa:      #C97B7B;
            --rosa-claro: #E8B4B4;
            --creme:     #FDF6F0;
            --chocolate: #2C1A1A;
            --dourado:   #D4A853;
            --off-white: #FAF7F4;
            --cinza:     #7A6A6A;
            --marrom: #1A0F0F;
        }
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    background-color: var(--off-white);
    font-family: 'Lato', sans-serif;
}

header {
    background-color: var(--chocolate);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    font-family: 'Dancing script';
    color: var(--rosa-claro);
    font-size: 25px;
}

#menu {
    color: var(--rosa-claro);
    cursor: pointer;
}

#itens {
    display: none;
    
}

#hero {
    display: flex;
    flex-direction: column;
}

.foto-Bianca {
    width: 100%;
}

.foto-Bianca img, .BiancaJornal{
    display: block;
    width: 100%;
    height: auto;
}

.texto-Hero{
    padding: 40px 20px;
}

.hero-eyebrow{
    display: block;
    letter-spacing: 0.2rem;
    font-size: 0.68rem;
    color: var(--rosa);
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo {
    font-family: 'Playfair Display';
    font-size: clamp(2.4rem, 9vw, 3.6rem);
    color: var(--chocolate);
}

.titulo em {
    color: var(--rosa);
}

.texto-Hero p {
    margin-top: 20px;
}

#sobre {
    padding: 50px 20px;
}

#sobre > .Bianca {
    margin-bottom: 40px;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.galeria img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#produtos{
    padding: 50px 20px;
    background-color: var(--creme);
}

#contatos {
    background-color: var(--chocolate);
    color: white;
    padding: 50px 20px;
}

#contatos h2{
    color: white;
    
}

#contatos p {
    color: var(--rosa-claro);
}

footer{
    background-color: var(--marrom);
    color: white;
    padding: 30px 20px;
}

footer p {
    color: white;
}