@charset "UTF-8";

:root {
            --rosa:      #C97B7B;
            --rosa-claro: #E8B4B4;
            --creme:     #FDF6F0;
            --chocolate: #2C1A1A;
            --dourado:   #D4A853;
            --off-white: #FAF7F4;
            --cinza:     #7A6A6A;
            --marrom: #1A0F0F;
        }
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template: 70px auto auto auto auto auto 200px / 1fr;
    
}

header {
    background-color: var(--chocolate);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

#menu {
    color: var(--rosa-claro);
}

#menu:hover {
    cursor: pointer;
    
}
#itens {
    display: none;
    
    
}

#itens a {
    display: flex;
    text-decoration: none;
    color: var(--rosa-claro);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 18px 0;
    border-bottom: 1px solid rgba(201, 123, 123, 0.2);
    
}

.logo {
    font-family: 'Dancing script';
    color: var(--rosa-claro);
    font-size: 25px;
}



.container {
    background-color: white;   
    
}

#hero {
    display: flex;
    flex-flow: column wrap;
    
}

img {
    width: 100%;
    height: auto;
}



.titulo {
    font-family: 'Playfair Display';
    color: var(--chocolate);
}

.titulo em {
    color: var(--rosa);
}

.texto-Hero {
    padding: 0 16px;
}

section.flex-inicio {
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(2,1fr);
    margin: 10px;
    gap: 5px;
}

div.flex-Fotos {

}

.foto1 {
    grid-area: 1/1/2/3;
}


#contatos {
    background-color: var(--chocolate);
    color: white;
}

#contatos h2 {
    color: white;
}


footer {
    background-color: var(--marrom);
    color: white;
}